---
interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<label class="toggle"
  ><span class="label"><slot /></span><input
    type="checkbox"
    title={title}
    id={id}
    name={id}
  /></label
>

<style is:global>
  .toggle {
    --height: max(1.5rem, 1em);
    --width: calc(var(--height) * 2);
    --border-radius: calc(var(--height) / 2);
    --animation-length: 0.2s;
    display: inline-flex;
    align-items: center;
    gap: 0.25em;

    > input[type="checkbox"] {
      appearance: none;
      margin: 0;
      padding: 0;
      width: var(--width);
      height: var(--height);
      background: var(--gray-400);
      border-radius: var(--border-radius);
      transition: background var(--animation-length);
      position: relative;
      font: inherit;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: var(--height);
        width: var(--height);
        background-color: #fff;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
        border-radius: var(--border-radius);
        transition: transform var(--animation-length);
      }

      &:checked {
        background: var(--success-300);
        &::after {
          transform: translateX(var(--height));
        }
      }

      &:focus {
        outline: var(--outline);
      }
    }
  }
</style>
